.flag_wrapper {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 200px;
    border: 1px solid black;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}

.flag_wrapper img {
    height: 60%;
    width: 60%;
    overflow: hidden;
    object-fit: cover;
    border-radius: 2px;
}

.flag_grid_div {
    padding: 32px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}